<main style="display: flex; flex-direction: column; align-items: center">
  <form
    style="
      display: flex;
      flex-direction: column;
      margin-top: 6rem;
      width: 350px;
    "
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="text"
      placeholder="Email"
      style="
        margin-bottom: 12px;
        padding: 5px;
        height: 32px;
        border: solid 1px #ccc;
        border-radius: 3px;
      "
      formControlName="inputName"
    />
    <input
      type="password"
      placeholder="Password"
      style="
        margin-bottom: 12px;
        padding: 5px;
        height: 32px;
        border: solid 1px #ccc;
        border-radius: 3px;
      "
      formControlName="inputPasswd"
    />
    <ng-container *ngIf="vm$ | async as vm">
      <button
        type="submit"
        style="align-self: flex-end; padding: 8px; width: 80px"
        [disabled]="formGroup.invalid || vm.isLoading"
      >
        Sign in
      </button>
      <div *ngIf="vm.isLoading; else response">aguarde...</div>
      <ng-template #response>{{ vm.status }}</ng-template>
      <div style="margin-top: 40px">estado: {{ vm | json }}</div>
    </ng-container>
  </form>
  <div style="margin-top: 10px">
    formGroup
    {{ formGroup.valueChanges | async | json }}
  </div>
</main>
