<main style="display: flex; justify-content: center">
  <form
    style="
      display: flex;
      flex-direction: column;
      margin-top: 6rem;
      width: 300px;
    "
    [formGroup]="formGroup"
    (submit)="onSubmit()"
  >
    <input
      type="text"
      placeholder="Email"
      style="
        margin-bottom: 12px;
        padding: 5px;
        height: 32px;
        border: solid 1px #ccc;
        border-radius: 3px;
      "
      formControlName="inputName"
    />
    <input
      type="password"
      placeholder="Password"
      style="
        margin-bottom: 12px;
        padding: 5px;
        height: 32px;
        border: solid 1px #ccc;
        border-radius: 3px;
      "
      formControlName="inputPasswd"
    />
    <button
      type="submit"
      style="align-self: flex-end; padding: 8px; width: 80px"
      [disabled]="formGroup.invalid"
    >
      Sign in
    </button>
  </form>
</main>
{{ formGroup.valueChanges | async | json }}
